<div class="card card-body shadow mx-5 my-1">
    <div class="row">
        <div class="col col-11">
            <h2 class="card-title">Habilidades</h2>
        </div>

        <div class="col col-1 d-flex justify-content-end my-auto" *ngIf="!showAddSkill && hasCurrentUser">
            <fa-icon 
                [icon]="faPlus" 
                class="btn" 
                (click)="toggleAddSkill()">
            </fa-icon>
        </div>
    </div>

    <div class="row" *ngIf="!softSkills?.length && !hardSkills?.length; else itemComponent">
        <h5>No hay habilidades registradas.</h5>
    </div>

    <ng-template #itemComponent>
        <div class="row" *ngIf="hardSkills?.length">
            <h3>Hard Skill</h3>
            <div class="row">
                <app-skill-item 
                    *ngFor="let skill of hardSkills"
                    [skill]= "skill"
                    class="col col-6 mb-3"
                    (onDeleteSkill) = "onDelete(skill)"
                    (updateSkill) = "updateSkill()">
                </app-skill-item> 
            </div>
        </div>
        
        <div class="row" *ngIf="softSkills?.length">
            <h3>Soft Skill</h3>
            <div class="row">
                <app-skill-item 
                    *ngFor="let skill of softSkills"
                    [skill]= "skill"
                    class="col col-6 mb-2"
                    (onDeleteSkill) = "onDelete(skill)"
                    (updateSkill) = "updateSkill()">
                </app-skill-item> 
            </div>
        </div>
    </ng-template>

    <app-skill-add 
        [showAddSkill]="showAddSkill"
        (onAddSkill)="onAddSkill($event)"
        (closeAddSkill)="closeAddSkill($event)">
    </app-skill-add>
    
    <app-error-modal
        [hasError]="hasError"
        [errorMessage]="errorMessage"
        (closeErrorModal)="closeErrorModal()">
    </app-error-modal>
</div>
