.btnCoverPhoto {
    position: absolute;
    right: 20px;
    top: 8px;
    border: 0;
    border-radius: 50%;
    background-color: white; 
    cursor: pointer;
    width: 46px;
    height: 46px;
}

.imgIcon {
    position: absolute;
    right: 15px;
    top: 11px;
}

.userProfileImage{ 
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    /* box-shadow: 0 0 12px rgba(0, 0, 0, .2); */
    position: absolute;
    top: 130px;
    left: 50px;
    z-index: 1;
}

/* .borderWhite{
    border: 7px solid #FFFFFF;
} */


.btnProfileImage {
    position: absolute;
    right: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    /* box-shadow: 0 0 12px rgb(0, 0, 25); */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.profileImage{
    display: block;
    height: 170px;
    border-radius: 50%;
}

.emptyProfile{
    display: block;
    height: 181px;
    border-radius: 50%;
}

.coverPhoto {
    height: 270px;
}

/* adaptacion a dispositivos  */
@media (max-width: 768px) {

    .userProfileImage { 
        left: calc(50% - 90px);
    }

} 