<div class="card card-body shadow mx-5 my-1">
    <div class="row">
        <div class="col col-11">
            <h2 class="card-title">Proyectos</h2>
        </div>

        <div class="col col-1 d-flex justify-content-end" *ngIf="!showAddProject && hasCurrentUser">
            <fa-icon 
                [icon]="faPlus" 
                class="btn" 
                (click)="toggleAddProject()">
            </fa-icon>
        </div>
    </div>

    <div class="row" *ngIf="!projects?.length; else itemComponent">
        <h5>No hay proyectos registrados.</h5>
    </div>

    <ng-template #itemComponent>
        <app-project-item 
            *ngFor="let project of projects"
            [project]= "project"
            (onDeleteProject) = "onDelete(project)"
            (updateProject) = "updateProject(project)">
        </app-project-item> 
    </ng-template>

    <app-project-add 
        [showAddProject]="showAddProject"
        (onAddProject)="onAddProject($event)" 
        (closeAddProject)="closeAddProject($event)">
    </app-project-add>
</div>

