<form class="form rounded container my-3 mx-auto" 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()" 
    *ngIf="showUpdateExperience">
    <div class="row mx-auto my-1">
        <div class="col col-11 my-auto">
            <h5 class="my-auto">
                Actualizar experiencia laboral:
            </h5> 
        </div>
        <div class="col col-1 d-flex justify-content-end">
            <fa-icon class="btn"
                [icon]="faTimes" 
                (click)="close()">
            </fa-icon>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col col-3"> 
            <div class="row mx-auto mb-2 ">
                <input class="form-control" 
                    type="file" 
                    accept=".png, .jpg, .jpeg" 
                    (change)="uploadImage($event)" 
                    id="inputFile"
                />
                <label class="uploadImage mx-auto rounded"
                    for="inputFile">
                    <p class=" my-auto"
                        *ngIf="!urlImage; else updateImgagen">
                            <b>Añadir imagen</b>
                    </p>
                </label> 
                <ng-template #updateImgagen>
                    <p class="my-auto">
                        <b>Modificar imagen</b>
                    </p>
                </ng-template>
            </div>

            <div class="row uploadedImage rounded mx-auto my-autos">
                <div *ngIf="image ; else withoutImage">
                    <img class="img-fluid rounded mx-auto d-block " 
                        [src]="image"
                        alt="experience-photo"
                    >
                </div>    
                <ng-template #withoutImage>
                    <div *ngIf="experience.urlImage; else withoutUrl">
                        <img class="img-fluid rounded mx-auto d-block" 
                            src="{{experience.urlImage}}" 
                            alt="experience-photo" 
                        >
                    </div>
                    <ng-template #withoutUrl>
                        <div class="my-5">
                            <fa-icon class="fa-3x" 
                                [icon]="faImage">
                            </fa-icon>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        
        <div class="col col-9">
            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="title">
                        Titulo:
                    </label>
                </div>
                <div class="col col-12">
                    <input class="form-control"
                        type="text" 
                        name="title" 
                        id="title" 
                        formControlName="title"
                        placeholder="Agregar Titulo" 
                        [ngClass]="{'is-invalid': title?.errors && title?.touched,
                        'is-valid': !title?.errors && title?.touched}"
                    />
                </div>
                <div *ngIf="title?.errors && title?.touched">
                    <p class="text-danger mb-0" 
                        *ngIf="title?.hasError('required')">
                            El titulo es requerido.
                    </p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-12 mx-auto my-auto">
                    <label for="companyName">
                        Empresa:
                    </label>
                </div>
                <div class="col col-12 mx-auto my-auto" >
                    <input class="col-12 form-control" 
                        type="text" 
                        name="companyName" 
                        id="companyName" 
                        formControlName="companyName"
                        placeholder="Agregar Empresa" 
                        [ngClass]="{'is-invalid': companyName?.errors && companyName?.touched,
                        'is-valid': !companyName?.errors && companyName?.touched}"
                    />
                </div>
                <div *ngIf="companyName?.errors && companyName?.touched">
                    <p class="text-danger mb-0" 
                        *ngIf="companyName?.hasError('required')">
                            La empresa es requerida.
                    </p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-12 mx-auto my-auto">
                    <label for="workTimeType">
                        Jornada:
                    </label>
                </div>
                <div class="col col-12 mx-auto my-auto">
                    <select class="form-select form-select-xs" 
                        formControlName="workTimeType"
                        name="workTimeType">
                        <option *ngFor="let workTimeType of workTimeTypes"
                            [ngValue]="workTimeType">
                                {{workTimeType.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-2 mx-auto">
                <div class="form-check">
                    <input class="form-check-input" 
                        type="checkbox" 
                        [checked]="disabledEndDate"
                        id="comboDisabledEndDate"
                        (click)="changeDisabledEndDate()"
                    />                  
                    <label class="form-check-label" 
                        for="comboDisabledEndDate">
                            Es mi trabajo actual
                    </label>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-lg-1 col-12 mt-lg-2">
                    <label for="startDate">
                        Desde: 
                    </label>
                </div>
                <div class="col col-lg-5 col-12">
                    <input class="form-control" 
                        type="month" 
                        name="startDate" 
                        id="startDate" 
                        formControlName="startDate"
                    />
                   
                    <div *ngIf="startDate?.errors && startDate?.touched">
                        <p class="text-danger mb-0"
                            *ngIf="startDate?.hasError('required')">
                                La fecha de inicio es requerida.
                        </p>
                        <p class="text-danger mb-0"
                            *ngIf="startDate?.hasError('futureDate')">
                                Fecha invalida.
                        </p>
                    </div>
                </div>

                <div class="col col-lg-1 col-12 mt-lg-2">
                    <label for="endDate">
                        Hasta:
                    </label>
                </div>
                <div class="col col-lg-5 col-12">
                    <input class="form-control" 
                        type="month" 
                        name="endDate" 
                        id="endDate" 
                        formControlName="endDate"
                        [attr.disabled]="disabledEndDate ? true : null"
                    />

                    <div *ngIf="(form.errors?.['dateLessThenDate'] && (form.touched || form.dirty)) || 
                        (endDate?.errors && endDate?.touched && endDate?.hasError('futureDate'))">
                        <p class="text-danger mb-0">
                            Fecha invalida.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="location">
                        Locación:
                    </label>
                </div>
                <div class="col col-12">
                    <input class="col-12 form-control" 
                        type="text" 
                        name="location" 
                        id="location" 
                        placeholder="Agregar Locacion" 
                        formControlName="location"
                    />
                </div>    
                <div *ngIf="location?.errors && location?.touched">
                    <p class="text-danger mb-0"
                        *ngIf="location?.hasError('required')">
                            La fecha de inicio es requerida.
                    </p>
                </div>               
            </div>
        </div>

        <div class="row mb-2 d-flex flex-row-reverse">
            <div class="col col-3 col-xs-1 col-md-2 col-lg-2">
                <button class="btn btn-primary"
                    type="submit">
                        Guardar
                </button>
            </div>
            <div class="col col-3 col-xs-1 col-md-2 col-lg-2">
                <button class="btn btn-secondary" 
                    type="button"
                    (click)="close()">
                        Cancelar
                </button> 
            </div>
        </div>
    </div>
</form>
