<form class="form rounded container my-3" (ngSubmit)="save()" *ngIf="showUpdateSkill">
    
    <div class="row mx-auto my-1">
        <div class="col col-11 col-xs-7 col-sm-8 col-md-9 col-lg-10 my-auto">
            <h5 class="my-auto">Actualizar habilidad:</h5> 
        </div>
        <div class="col col-1 col-xs-5 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-end">
            <fa-icon [icon]="faTimes" class="btn" (click)="close()"></fa-icon>
        </div>
    </div>

    <div class="row mx-auto ">
        
        <div class="col col-12">
            <div class="row mb-2 ">
                <div class="col col-12 my-auto">
                    <label for="name">Nombre:</label>
                </div>
                <div class="col col-12">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Agregar Nombre" [(ngModel)]="skill.name"/>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-12 mx-auto my-auto">
                    <label for="type">Tipo de habilidad:</label>
                </div>
                <div class="col col-12 mx-auto my-auto ">
                    <select class="form-select form-select-xs" [(ngModel)]="skill.skillType"
                    name="skillType" [compareWith]="compareNames">
                        <option *ngFor="let skillType of skillTypes"
                            [ngValue]="skillType"
                           >{{skillType.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col col-12 mx-auto my-auto">
                    <label for="grade">Grado de habilidad: </label>
                </div>
                <div class="col col-12 mx-auto my-auto" >
                    <input class="col-12 form-control" type="number" name="grade" id="grade" [(ngModel)]="skill.grade"/>
                </div>
            </div>
        </div>

        <div class="row mb-2 d-flex justify-content-end">
            <div class="col col-6 col-sm-7 col-md-5 col-lg-3">
                <button type="submit" class="btn btn-secondary" (click)="close()">Cancelar</button> 
            </div>
            <div class="col col-6 col-sm-5 col-md-3 col-lg-2">
                <button type="submit" class="btn btn-primary ">Guardar</button>
            </div>
        </div>
    </div>
</form>