<div class="row" *ngIf="showUpdateProject; else projectItem">
    <app-project-update 
        (onUpdateProject)="onUpdateProject($event)" 
        (closeUpdateProject)="closeUpdateProject($event)" 
        [showUpdateProject]="showUpdateProject" 
        [project]="project">
    </app-project-update>
</div>
<ng-template #projectItem>
    <div class="row">
        <div class="col col-2 my-auto">
            <div *ngIf="project.urlImage; else withoutImage">
                <a (click)="goToLink(project.link)">
                    <img class="img-fluid rounded mx-auto d-block pointer" 
                        src="{{ project.urlImage }}"
                        alt="project-photo" 
                        title="Ir al sitio"
                    >
                </a>
            </div>
            <ng-template #withoutImage>
                <div class="image rounded mx-auto my-auto">
                    <fa-icon class="fa-5x" 
                        [icon]="faImage">
                    </fa-icon>
                </div>
            </ng-template>
        </div>

        <div class="col col-10">
            <div class="row">
                <div class="col col-10">
                    <h3 class="title text-primary">
                        <a class="pointer" (click)="goToLink(project.link)"
                            title="Ir al sitio">
                            <u>{{ project.name }}</u>
                        </a>
                    </h3>
                </div>
                <div class="col col-2 d-flex justify-content-end" *ngIf="hasCurrentUser">
                    <fa-icon class="btn" 
                        [icon]="faPen" 
                        (click)="toggleUpdateProject()">
                    </fa-icon>  
                    <fa-icon class="btn" 
                        [icon]="faTrashCan" 
                        (click)="onDelete(project)">
                    </fa-icon> 
                </div>
            </div>
            
            <p> {{project.description}} </p>
            <p *ngIf="project.endDate; else elseBlock"> 
                <b>Fecha de realización:</b>
                {{ project.startDate | date : "MM/yyyy" }}  -  
                {{ project.endDate | date : "MM/yyyy" }}
            </p>
            <ng-template #elseBlock>
                <b>Fecha de realización:</b>
                {{ project.startDate | date : "MM/yyyy" }}  - 
                Actualidad
            </ng-template>
        </div>
    </div>
    <app-error-modal
        [hasError]="hasError"
        [errorMessage]="errorMessage"
        (closeErrorModal)="closeErrorModal()">
    </app-error-modal>
</ng-template>
