 <div class="navbar navbar-expand navbar-dark bg-primary p-0 ">
    <div class="container-fluid">
        <img class="logo" src="../../../assets/arg-prog.png" alt="ArgentinaPrograma">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngFor="let socialNetwork of socialNetworks">
                  <app-social-network-link-item 
                    *ngIf="socialNetwork.socialNetworkType.isLink"
                    [socialNetwork]= "socialNetwork">
                  </app-social-network-link-item> 
                </li>
            </ul>
        </div>
    </div>

    <div class="dropdown rounded pe-4">
      <button class="btn btn-primary">
        <fa-icon [icon]="faUser"></fa-icon> 
      </button>
      <div class="dropdown-content rounded">
        <a class="rounded" *ngIf="hasCurrentUser" (click)="toggleUpdateSocialNetworks()">Modificar redes sociales</a>
        <!-- <a class="rounded">Ayuda</a> -->
        <a class="rounded" *ngIf="!hasCurrentUser" href="login">Iniciar Sesion</a>
        <a class="rounded" *ngIf="hasCurrentUser" (click)="logout()">Cerrar Sesion</a>
      </div>
    </div>

    <app-social-network 
      [socialNetworks]="socialNetworks"
      [showSocialNetwork]="showSocialNetwork"
      (closeSocialNetwork)="closeSocialNetwork($event)">
    </app-social-network>
    
  </div>