.logo {
    height: 70px;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 220px;
    right: 25px;
    z-index: 1; 
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
