<form class="form rounded container-fluid mt-5 mb-3 mx-auto"
    [formGroup]="form"
    (ngSubmit)="onSubmit()" 
    *ngIf="showUpdateAbout">
    
    <div class="row mx-auto my-1">
        <div class="col col-11 my-auto">
            <h5 class="my-auto">
                Modificar información:
            </h5> 
        </div>
        <div class="col col-1 d-flex justify-content-end my-auto">
            <fa-icon class="btn" 
                [icon]="faTimes"
                (click)="close()">
            </fa-icon>
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col col-12 col-md-4">
            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="abstracts">
                        Nombre:
                    </label>
                </div>
                <div class="col col-12">
                    <input class="form-control" 
                        type="text" 
                        name="name" 
                        id="name"
                        formControlName="name"
                        placeholder="Agregar Nombre" 
                        [ngClass]="{'is-invalid': name?.errors && name?.touched,
                        'is-valid': !name?.errors && name?.touched}"
                    />
                </div>
                <div *ngIf="name?.errors && name?.touched">
                    <p class="text-danger mb-0" 
                        *ngIf="name?.hasError('required')">
                            El nombre es requerido.
                    </p>
                </div>
            </div> 

            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="lastname">
                        Apellido:
                    </label>
                </div>
                <div class="col col-12">
                    <input class="form-control" 
                        type="text" 
                        name="lastname" 
                        id="lastname"
                        formControlName="lastname"
                        placeholder="Agregar Apellido" 
                        [ngClass]="{'is-invalid': lastname?.errors && lastname?.touched,
                        'is-valid': !lastname?.errors && lastname?.touched}"
                    />
                </div>
                <div *ngIf="lastname?.errors && lastname?.touched">
                    <p class="text-danger mb-0" 
                        *ngIf="lastname?.hasError('required')">
                            El apellido es requerido.
                    </p>
                </div>
            </div> 

            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="abstracts">
                        Titulo:
                    </label>
                </div>
                <div class="col col-12">
                    <input class="form-control" 
                        type="text" 
                        name="title" 
                        id="title" 
                        formControlName="title"
                        placeholder="Agregar Titulo" 
                        [ngClass]="{'is-invalid': title?.errors && title?.touched,
                        'is-valid': !title?.errors && title?.touched}"
                    />
                </div>
                <div *ngIf="title?.errors && title?.touched">
                    <p class="text-danger mb-0" 
                        *ngIf="title?.hasError('required')">
                            El titulo es requerido.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col col-12 col-md-8">
            <div class="row mb-2">
                <div class="col col-12 my-auto">
                    <label for="abstracts">
                        Descripción:
                    </label>
                </div>
                <div class="col col-12">
                    <textarea class="form-control" 
                        type="text" 
                        name="abstracts" 
                        id="abstracts" 
                        formControlName="abstracts"
                        placeholder="Agregar Resumen" 
                        rows="7" 
                        [ngClass]="{'is-invalid': abstracts?.errors && abstracts?.touched,
                        'is-valid': !abstracts?.errors && abstracts?.touched}">
                    </textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto mb-2 d-flex justify-content-end">
        <div class="btn-div me-3">
            <button class="btn btn-secondary" 
                type="button"
                (click)="close()">
                    Cancelar
            </button>
        </div>
        <div class="btn-div me-3">
            <button class="btn btn-primary"
                type="submit">
                    Guardar
            </button>
        </div>
    </div>
</form>