<div class="modal d-block" *ngIf="showAddProject">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-name">
                        Agregar proyecto
                    </h4>
                </div>

                <div class="modal-body">       
                    <div class="row mb-2">
                        <div class="col col-12 my-auto">
                            <label for="name">
                                Nombre:
                            </label>
                        </div>
                        <div class="col col-12">
                            <input class="form-control" 
                                type="text" 
                                name="name" 
                                id="name" 
                                formControlName="name"
                                placeholder="Agregar Nombre" 
                                [ngClass]="{'is-invalid': name?.errors && name?.touched,
                                'is-valid': !name?.errors && name?.touched}"
                            />
                        </div>
                        <div *ngIf="name?.errors && name?.touched">
                            <p class="text-danger mb-0" 
                                *ngIf="name?.hasError('required')">
                                    El nombre es requerido.
                            </p>
                        </div>
                    </div>
    
                    <div class="row mb-2">
                        <div class="col col-12 mx-auto my-auto">
                            <label for="description">
                                Descripción: 
                            </label>
                        </div>
                        <div class="col col-12 mx-auto my-auto">
                            <input class="col-12 form-control" 
                                type="text" 
                                name="description" 
                                id="description"
                                formControlName="description"
                                placeholder="Agregar Descripción" 
                                [ngClass]="{'is-invalid': description?.errors && description?.touched,
                                'is-valid': !description?.errors && description?.touched}"
                            />
                        </div>
                        <div *ngIf="description?.errors && description?.touched">
                            <p class="text-danger mb-0" 
                                *ngIf="description?.hasError('required')">
                                    La descripción es requerida.
                            </p>
                        </div>
                    </div>

                    <div class="row mb-2 mx-auto">
                        <div class="form-check">
                            <input class="form-check-input" 
                                type="checkbox" 
                                value="disabledEndDate" 
                                id="comboDisabledEndDate"
                                (click)="changeDisabledEndDate()"
                            />                  
                            <label class="form-check-label" 
                                for="comboDisabledEndDate">
                                    Es un proyecto actual
                            </label>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col col-lg-1 col-12 mt-lg-2">
                            <label for="startDate">
                                Desde: 
                            </label>
                        </div>
                        <div class="col col-lg-5 col-12">
                            <input class="form-control" 
                                type="month" 
                                name="startDate" 
                                id="startDate" 
                                formControlName="startDate"
                                [ngClass]="{'is-invalid':startDate?.errors && startDate?.touched,
                                'is-valid': !startDate?.errors && startDate?.touched}"
                                (change)="endDateIfFormIsDirty()"
                            />

                            <div *ngIf="startDate?.errors && startDate?.touched">
                                <p class="text-danger mb-0"
                                    *ngIf="startDate?.hasError('required')">
                                        La fecha de inicio es requerida.
                                </p>
                                <p class="text-danger mb-0"
                                    *ngIf="startDate?.hasError('futureDate')">
                                        Fecha invalida.
                                </p>
                            </div>
                        </div>

                        <div class="col col-lg-1 col-12 mt-lg-2">
                            <label for="endDate">
                                Hasta:
                            </label>
                        </div>
                        <div class="col col-lg-5 col-12">
                            <input class="form-control" 
                                type="month" 
                                name="endDate" 
                                id="endDate" 
                                formControlName="endDate"
                                [attr.disabled]="disabledEndDate ? true : null"
                                [ngClass]="{'is-invalid': endDate?.errors && endDate?.touched,
                                'is-valid': !endDate?.errors && endDate?.touched}"
                                (change)="endDateIfFormIsDirty()"
                            />
                            <div *ngIf="endDate?.errors && endDate?.touched">
                                <p class="text-danger mb-0"
                                    *ngIf="endDate?.hasError('futureDate') || 
                                        endDate?.hasError('dateLessThenDate')">
                                            Fecha invalida
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <div class="row mb-2">
                        <div class="col col-12 my-auto">
                            <label for="link">
                                Link:
                            </label>
                        </div>
                        <div class="col col-12">
                            <input class="col-12 form-control" 
                                type="text" 
                                name="link" 
                                id="link"
                                formControlName="link"
                                placeholder="Agregar Link" 
                                [ngClass]="{'is-invalid': link?.errors && link?.touched,
                                'is-valid': !link?.errors && link?.touched}"
                            />
                        </div>
                        <div *ngIf="link?.errors && link?.touched">
                            <p class="text-danger mb-0" 
                                *ngIf="link?.hasError('required')">
                                    El link es requerido.
                            </p>
                        </div>                 
                    </div>
                    
                    <div class="row mb-2 mx-auto">
                        <div class="col col-12 my-auto">
                            <label for="imagen">
                                Imagen:
                            </label>
                        </div>
                        <input 
                            type="file" 
                            class="form-control" 
                            accept=".png, .jpg, .jpeg" 
                            (change)="uploadImage($event)" 
                            id="inputFile"
                        />
                        <label class="uploadImage mx-auto rounded"
                            for="inputFile">
                            <p class="my-auto" 
                                *ngIf="!image; else updateImagen">
                                    <b>Añadir imagen</b>
                            </p>
                        </label> 
                        <ng-template #updateImagen>
                            <p class="my-auto">
                                <b>Modificar imagen</b>
                            </p>
                        </ng-template>
                    </div>

                    <div class="row uploadedImage rounded mx-auto my-auto col-6 mb-2" *ngIf="image">
                        <img src="{{image}}" class=" img-fluid rounded mx-auto d-block">
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary"
                        type="button"  
                        (click)="close()">
                            Cancelar
                    </button>
                    <button class="btn btn-primary" 
                        type="submit">
                            Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
