<div class="card card-body shadow mx-5 my-1">
    <div class="row">
        <div class="col col-11">
            <h2 class="card-title">Educación</h2>
        </div>

        <div class="col col-1 d-flex justify-content-end" *ngIf="!showAddEducation && hasCurrentUser">
            <fa-icon 
                [icon]="faPlus" 
                class="btn" 
                (click)="toggleAddEducation()">
            </fa-icon>
        </div>
    </div>

    <div class="row" *ngIf="!educations?.length; else itemComponent">
        <h5>No hay registros académicos.</h5>
    </div>

    <ng-template #itemComponent>
        <app-education-item 
            *ngFor="let education of educations"
            [education]= "education"
            (onDeleteEducation) = "onDelete(education)"
            (updateEducation) = "updateEducation(education)">
        </app-education-item> 
    </ng-template>

    <app-education-add 
        [showAddEducation]="showAddEducation"
        (onAddEducation)="onAddEducation($event)" 
        (closeAddEducation)="closeAddEducation($event)">
    </app-education-add>
   
</div>